# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.env/
*.env

# IDEs
.vscode/
.idea/

# Logs
*.log

# Database configs or secrets
*.db
*.sqlite3

# OS files
.DS_Store
Thumbs.db
